body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
}


h1 {
    font-size: 50px;
    font-weight: 700;
}

.heading-color {
    color: #ffa500;
}

section {
    display: flex;
}

.header-bar1 {
    width: 50%;
    /* background-color: aqua; */
    padding: 3%;
    margin-left: 50px;
}

.header-bar2 {
    width: 50%;
    /* background-color: aqua; */
    padding: 3%;
}

.header-bar2 img {
    /* width: 70%; */
    max-width: 600px;
    max-height: auto;
    /* height: auto; */
}

.hire-me {
    padding: 13px 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    background-image: linear-gradient(45deg, #FF684B, #FF9874);
    color: #FFFFFF;
    border-color: #FF684B;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}